@import '~bootstrap/scss/bootstrap.scss';

body {
  font-family: Arial;
  padding: 0px;
}

.img{
  width: 100%;
}

.px-10{
  padding-left: 100px;
  padding-right: 100px;
}


#navbar {
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}
